.ps__pagination {
    position: absolute;
    left: 1.25rem;
    top: calc(50% - 5rem);
    z-index: 4;
    
}

.pagination {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 2.5rem;
  }
  &__link {
    width: 0.4rem;
    height: 0.4rem;
    background-color: #899eaa;
    border-radius: 50%;
    margin: 0.4rem 0;
    position: relative;
    z-index: 2;
    transition: 0.5s;

    &::after {
        content: "";
        top: -0.300rem;
        left: -0.305rem;
        position: absolute;
        width: 0.90rem;
        height: 0.90rem;
        border-radius: 50%;
        border: 1px solid #899eaa;
        opacity: 0;
        transition: 0.5s;

      }

  }
.pagination__link {
  transition: 0.5s;

}

  &_active > .pagination__link {
    transition: 0.5s;
    background-color: #f25a4b;
    &::after {
        opacity: 1;
    }

    
  }
}
