.ps__buttons {
    display: flex;
}


.buttons {
    &__button {
        cursor: pointer;
        width: 45px;
        margin: 0 15px;
        svg:hover .cls-1{
            fill: #f25a4b;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}