.ps__modalwindow {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: relative;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    margin-top: -70px;
    .ps__modalclose {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            cursor: pointer;
            user-select: none;
        }
    }
}

