.ps__modalwindow__territory__grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 60% 20%;
    padding: 5%;

    h2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #e3f2fa;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
        position: relative;
        margin-top: -6.8rem;
        margin-left: -4.25rem;
        pointer-events: none;
        
        &::before {
            content: '';
            width: 1rem;
            height: 1rem;
            position: absolute;
            left: -1.5rem;
            border: 1px solid #dc574b;
            background: radial-gradient(circle, rgba(220,87,75,1) 30%, rgba(255,255,255,0) 30%);
            border-radius: 50%;
        }
        &::after {
            content: '';
            position: absolute;
            background-color: #dc574b;
            height: 0.1rem;
            width: 6.75rem;
            left: -8.75rem;
        }
    }

    .ps__modalwindow__territory__grid__imageleft {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            opacity: 0;
            max-height: 100%;
            animation: fadeIn 0.5s ease-in 1s  forwards;
        }
    }

    &__legend {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: -4.25rem;

        &__top {
            font-family: 'Lato', sans-serif;
            color: #e3f2fa;
            font-size: 1rem;
            font-weight: 500;
            position: relative;
            margin-bottom: 1rem;
            &::before {
                content: '';
                width: 1rem;
                height: 1rem;
                position: absolute;
                left: -1.5rem;
                border: 1px solid #dc574b;
                background: radial-gradient(circle, rgba(220,87,75,1) 30%, rgba(255,255,255,0) 30%);
                border-radius: 50%;
            }
            &::after {
                content: '';
                position: absolute;
                background-color: #dc574b;
                height: 0.1rem;
                width: 5rem;
                left: -6.75rem;
                top: calc(50% - 1px);
            }
        }
        &__mid {
            display: flex;
            align-items: center;
            font-family: 'Lato', sans-serif;
            color: #e3f2fa;
            margin-bottom: 20px;
            &__line {
                height: 4px;
                width: 50px;
                background-color: #dc574b;
                margin-right: 30px;
            }
        }
        &__bottom {
            display: flex;
            align-items: center;

            &__box {
                margin-right: 1rem;
                width: 3rem;
                height: 1.5rem;
                background-color: #e3f2fa;

            }

            .box {
                &__blue {
                    background-color: #0a5a82;
                }
                &__gray {
                    background-color: #bbb;
                }
                &__red {
                    background-color: #f25a4b;
                }
                &__striped {
                    background-size: cover;
                }
            }
            span {
                margin-right: 2rem;
                font-family: 'Lato', sans-serif;
                color: #e3f2fa;
            }
        }
    }

    &__map {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        img  {
            max-height: 100%;
            max-width: 100%;
            opacity: 0;
            animation: fadeIn 0.5s 0.5s ease-in forwards;
        }

    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}