.ps__navbar {
    
    ul {
        z-index: 800;
        padding: 0;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        align-items: center;
        color: white;
        height: 7.5vh;
       
        a {
            color: white;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            text-decoration: none;
            background-color: #2c2b2f;
            text-transform: uppercase;
            font-family: 'poppinsregular', sans-serif;
            font-size: 0.75rem;
            padding: 0 1rem;
            position: relative;
            z-index: 2;
            text-align: center;
            transition: 0.5s;
            &:hover {
                color: #bbb !important;
            }
            &:visited {
                color: white;
            }
            &.nav_active:hover {
                color: white !important;
            }
            &.nav_active .nav_select{
               animation: selectSlideIn 0.5s ease-in-out forwards;
            }
            span {
                position: absolute;
                z-index: 3;
                text-align: center;
                transform: translate(-50%, -50%);
            }
            .nav_select {
                top: 100%;
                left: 0;
                height: 150%;
                width: 100%;
                background-color: #0b5a82;
                position: absolute;
                z-index: 1;
            }
        }
        li {
            cursor: pointer;
            width: 100%;
            user-select: none;
        }
    }
}

@keyframes selectSlideIn {
    0% {
        top: 100%
    }
    60% {
        top: -20%
    }
    100% {
        top: -5%
    }
}


@keyframes selectSlideOut {
    0% {
        top: -5%
    }
    60% {
        top: -20%
    }
    100% {
        top: 100%
    }
}