.ps__navbar {
    ul {
        padding: 0;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        align-items: center;
        a {
            width: 100%;
            text-decoration: none;
            &:visited {
                color: black;
            }
            &.nav_active {
                background-color: gold;
            }
        }
        li {
            padding: 40px 0;
            border: 1px solid black;
            cursor: pointer;
            width: 100%;
            user-select: none;
        }
    }
}