.ps__modalwindow__map__content {
    width: 100%;
    height: 100%;
    padding: 3%;
    padding-left: 5%;

}

.ps__modalwindow__map__grid {
    height: 100%;
    max-height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 20% 80%;
    &__title {
        min-width: 0;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        font-family: 'DM Serif Display', serif;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: fit-content(100%);
        h1 {
            transform: translateX(-50vw);
            animation: slideIn 1s ease-in-out  forwards;
            grid-row: 1;
            grid-column: 1;
            color: #01638b;
            font-size: 3rem;
            
        }
        h2 {
            transform: translateX(100vw);
            animation: slideIn 1s ease-in-out  forwards;

            grid-row: 2;
            grid-column: 1;
            font-size: 2.25rem;
            text-align: right;
        }
    }
    &__legend {
        opacity: 0;
        animation: fadeIn 0.5s linear 1s forwards;
        height: 80%;
        grid-row-start: 2;
        grid-column : 1 / 2;
        display: grid;
        column-gap: 5%;
        grid-template-columns: 10% 1fr;
        grid-template-rows: repeat(1fr);
        font-family: 'Lato', sans-serif;
        * {
            align-self: center;
            font-size: 16px;
        }
        h1 {
            
            grid-row: 1;
            grid-column: 1 / 3;
            font-size: 1rem;
            position: relative;
            padding-left: 1.5rem;
            &::before {
                content: '';
                width: 1rem;
                height: 1rem;
                position: absolute;
                left: 0px;
                border: 1px solid #dc574b;
                background: radial-gradient(circle, rgba(220,87,75,1) 30%, rgba(255,255,255,0) 30%);
                border-radius: 50%;
            }
            &::after {
                content: '';
                position: absolute;
                background-color: #dc574b;
                height: 0.2rem;
                width: 5rem;
                left: -5.25rem;
                top: calc(50% - 0.05rem);
            }
        }
        .legend__label {
            font-size: 1rem;
        }
        .legend__countries {
            grid-row: 4;
            grid-column: 1 / 3;
            display: grid;
            grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
            grid-template-rows: 100%;
            .legend__label {
                margin-left: 1rem;
            }
            div:nth-of-type(1) {
                grid-column: 1;
                grid-row: 1;
            }
            div:nth-of-type(2) {
                grid-column: 2;
                grid-row: 1;
            }
            div:nth-of-type(3) {
                grid-column: 3;
                grid-row: 1;
            }
            div:nth-of-type(4) {
                grid-column: 4;
                grid-row: 1;
            }
            div:nth-of-type(5) {
                grid-column: 5;
                grid-row: 1;
            }
            div:nth-of-type(6) {
                grid-column: 6;
                grid-row: 1;
            }

        }
        .legend__box__large {
            max-width: 3.01rem;
        }

        .legend__line {
            grid-column: 1;
            grid-row: 2;
            width: 100%;
            border: 0.1rem solid #f25a4b;
            height: 1px;
            margin-top: 1px;
        }
        .legend__dashed__line {
            grid-column: 1;
            grid-row: 3;
            width: 100%;
            border: 0.1rem dashed #e88503;
            height: 1px;
            margin-top: 1px;
            &.line__green {
                grid-area: 4 / 1 / 5 / 2;
                border-color: #25a007;
            }
            &.line__cyan {
                grid-area: 5 / 1 / 6 / 2;
                border-color: #15c596;
            }            
        }


        .legend__box__small {
            width: 1rem;
            height: 1rem;
            background-color: black;
            border: 3px solid white;
            margin: 0 auto;
        }
        .box__black {
            grid-column: 1;
            grid-row: 4;
        }
        .box__blue {
            background-color: #0a86d2;
            grid-column: 1;
            grid-row: 5;
        }

        .box__yellow {
            background-color: #dbd21a;
            grid-column: 1;
            grid-row: 5;
        }

        .box__cyan {
            background-color: #06d4dd;
            grid-column: 1;
            grid-row: 7;
        }

        .legend__box__plflag {
            grid-column: 1;
            grid-row: 6;
            width: 100%;
            height: 1px;
            border-top: 1rem solid white;
            border-bottom: 1rem solid #e05a4a;
        }

        .legend__box__large {
            width:100%;
            height: 2rem;
        }

        .legend__box__large.box__blue {
            grid-column: 1;
            grid-row: 7;
            background-color: #0a5a82;
        }

        .legend__box__large.box__red {
            grid-column: 1;
            grid-row: 8;
            background-color: #e05a4a;
        }

        .legend__box__large.box__gray {
            grid-column: 1;
            grid-row: 9;
            background-color: #dcdbd9;
        }

       
    
    }
    &__map {
        padding-left: 10%;
        grid-row-start: 2;
        grid-column: 2;
        img {
            max-height: 100%;
            transition: opacity 0.5s;
            opacity: 0;
        }
    }
}

@keyframes slideIn {
    
    to {
        transform: translateX(0)
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}