.textfield {
    font-size: 0.7rem;
    width: 80%;
    height: 100%;
    position: relative;
    .ScrollbarsCustom {
        height: 80% !important;
    }
    &:before {
        content: '';
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image:  linear-gradient(to bottom, 
        rgba(227,242,250,1), 
        rgba(255,255,255, 0)
         90%);
        width: 89%;
        height: 10em;
        transition: 0.4s;
        opacity: 0;
    }
    &:after {
        content: '';
        position: absolute;
        z-index: 9;
        bottom: 20%;
        left: 0;
        pointer-events: none;
        background-image:  linear-gradient(to bottom, 
        rgba(255,255,255, 0), 
        RGBA(227,242,250,1) 90%);
        width: 89%;
        height: 10em;
        transition: 0.4s;
        opacity: 0;
    }
    &.fadebottom:after {
        opacity: 1;
    }
    &.fadetop:before {
        opacity: 1;
    }
p {
    margin-bottom: 20px;
}
&__scroller {
    padding-top: 20px;
    height: 20%;
    margin-bottom: 5%;
    img {
        height: 20px;
        margin-bottom: -6px;
        margin-right: 10px;
        cursor: pointer;
        
    }
    span {
        font-size: 9px;
        font-weight: 700;
    }
    
}
}