.ps__page__main {
    display: flex;
    height: calc(100vh - 70px);
    width: 100%;
    .ps__page__left {
        flex: 1.1;
        background-size: cover;
        color: #e3f2fa;
        padding: 6%;
        display: flex;
        &__title {
            width: 70%;
            font-size: 25px;
            &__headline {
                font-family: 'dm_serif_displayregular', serif;
                h2 {
                    font-weight: 300;
                }
            }
            &__subheadline {
                font-family: 'dm_serif_displayregular', serif;
                font-size: 20px;
                font-weight: 300;
                p {
                    font-weight: 300;
                }
            }
        }
        &__subtitle {
            font-size: 16px;
        }
        hr {
            margin: 20px 0;
            border-color: #f25a4b;
        }
        
    }
    .ps__page__right {
        flex: 1;
        background-color: #e3f2fa;
        display: flex;
        flex-direction: column;
        &__top, &__bottom, &__scroller {
            margin-left: 10%;
        }

        &__top {
            margin-top: 5%;
            display: flex;
            height: 25%;
            margin-bottom: 3%;
            &__left, &__right {
                height: 100%;
                flex: 1;
            }
            &__left {
                display: flex;
                flex-direction: column;
                &__menu {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-transform: uppercase;
                    font-family: 'poppinsregular', sans-serif;
                    font-weight: 700;
                    cursor: pointer;
                    color: #6a8594;
                    user-select: none;
                    div:hover {
                        transition: 0.5s;
                        color: #41535f;
                    }
                    
                }
                &__icons {
                    flex: 1;
                }
            }
            &__right {
                background-size: cover;
            }
        }
        &__bottom {
            height: 50%;
            .textfield {
                width: 80%;
                height: 100%;
            }
        }
        &__scroller {
            height: 20%;
            margin-bottom: 5%;
        }
    }
}

.ScrollbarsCustom-Track {
    width: 5px !important;
    border-radius: 0 !important;
    background-color: #bcc5ca !important;
}

.ScrollbarsCustom-Thumb {
    border-radius: 0 !important;

    background-color: #0b5a82 !important;
}

.ScrollbarsCustom-Content {
    padding-right: 10px !important;
}