.ps__page__main {
    display: flex;
    height: calc(100vh - 70px);
    width: 100%;
    .ps__page__left {
        z-index: 3;
        flex: 1.1;
        background-color: #e3f2fa;
        color: #e3f2fa;
        padding: 6%;
        display: flex;
        padding-bottom: 75px;
        justify-content: space-between;
        padding-right: 1%;
        background-size: 120%;
        background-repeat: no-repeat;
        transition: all 3s cubic-bezier(0.32, 0.63, 0, 0.63);
        transition-delay: 0.2s;

        &.right-align {
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
        }
        &.right-align .ps__page__left__title {
            margin-bottom: 5%;
            width: 90%;
        }
        &__title {
            width: 70%;
            font-size: 20px;
            &__headline {
                font-family: 'dm_serif_displayregular', serif;
                h2 {
                    font-weight: 300;
                }
            }
            &__subheadline {
                font-family: 'dm_serif_displayregular', serif;
                font-size: 20px;
                font-weight: 300;
                p {
                    font-weight: 300;
                }
            }
        }

        &__subtitle {
            font-size: 16px;
        }
        hr {
            margin: 20px 0;
            border-color: #f25a4b;
        }
        
        &__photoAuthor {
            justify-self: flex-end;
            align-self: flex-end;
            font-size: 10px;
            font-family: 'latoregular', sans-serif;
        }

    }
    .ps__page__right {
        flex: 1;
        background-color: #e3f2fa;
        display: flex;
        flex-direction: column;
        &__top, &__bottom, &__scroller {
            margin-left: 10%;
        }

        &__top {
            margin-top: 5%;
            display: flex;
            height: 25%;
            margin-bottom: 3%;
            &__left, &__right {
                height: 100%;
                flex: 1;
            }
            &__left {
                display: flex;
                flex-direction: column;
                
                &__menu {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    text-transform: uppercase;
                    font-family: 'poppinsregular', sans-serif;
                    font-weight: 700;
                    cursor: pointer;
                    color: #6a8594;
                    user-select: none;
                    div {
                        margin-bottom: 10px;
                    }
                    div:hover {
                        transition: 0.5s;
                        color: #41535f;
                    }
                    
                }
                &__icons {
                    flex: 1;
                    margin-top: 10px;
                    &__label {
                        font-family: 'poppinsregular', sans-serif;
                        font-weight: 700;
                        position: relative;
                        margin-bottom: 30px;
                        
                        &::before {
                            content: '';
                            z-index: 1;
                            position: absolute;
                            height:22px;
                            top: -4px;
                            right: 40%;
                            width: 1000px;
                            background-color: #f25a4b;
                        }
                        span {
                            z-index: 2;
                            position: absolute;
                        }
                    }
                    .ps__buttons {
                        width: 55%;
                    }
                }
            }
            &__right {
                background-size: 100%;
                background-position: center center;
            }
        }
        &__bottom {
            height: 50%;
            
        }
        &__scroller {
            padding-top: 20px;
            height: 20%;
            margin-bottom: 5%;
            img {
                height: 20px;
                margin-bottom: -6px;
                margin-right: 10px;
                cursor: pointer;
                
            }
            span {
                font-size: 9px;
                font-weight: 700;
            }
            
        }
    }
}

.ScrollbarsCustom-Track {
    width: 5px !important;
    border-radius: 0 !important;
    background-color: #bcc5ca !important;
}

.ScrollbarsCustom-Thumb {
    border-radius: 0 !important;

    background-color: #0b5a82 !important;
}

.ScrollbarsCustom-Content {
    padding-right: 10px !important;
}