.ps__intro {
    display: flex;
    background-color: #e3f2fa;
}
.intro {
    &__title {
        font-size: 110px;
        font-family: 'dm_serif_displayregular', serif;
        font-weight: 300;
        color: #01638b;
        margin-left: 150px;
        margin-top: 100px;
        line-height: 100px;
        text-indent: -130px;
    }
    &__date {
        font-size: 50px;
        font-family: 'dm_serif_displayregular', serif;
        font-weight: 300;
        color: #6a8594;
        margin-left: 300px;
        position: relative;
        
        &::before, &::after {
            content: "";
            width: 270px;
            height: 6px;
            left: -300px;
            position: absolute;
            background-color: #f25a4b;
            top: calc(50% - 3px);
        }
        &::after {
            left: 220px;
        }
    }
    &__text {
        width: 42%;
        margin-left: 8%;
    }
    &__paragraph {
        font-size: 14px;
        width: 490px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    &__img {
        background-image: url(/static/media/introImg-BG.c4402176.png);
        width: 50%;
        height: calc(100vh - 140px);
        background-position-y: 70%;
        background-repeat: no-repeat;
    }
    &__soldier {

    }
}