.ps__intro {
    display: flex;
    background-color: #e3f2fa;
}
.intro {
    &__title {
        font-size: 110px;
        font-family: 'dm_serif_displayregular', serif;
        font-weight: 300;
        color: #01638b;
        margin-left: 150px;
        margin-top: 100px;
        line-height: 100px;
        text-indent: -130px;
    }
    &__date {
        font-size: 50px;
        font-family: 'dm_serif_displayregular', serif;
        font-weight: 300;
        color: #6a8594;
        margin-left: 300px;
        position: relative;
        
        &::before, &::after {
            content: "";
            width: 270px;
            height: 6px;
            left: -300px;
            position: absolute;
            background-color: #f25a4b;
            top: calc(50% - 3px);
        }
        &::after {
            left: 220px;
        }
    }
    &__line {
        width: 80px;
    height: 6px;
    left: 65px;
    position: absolute;
    background-color: #0b5a82;
    top: 307px;
    z-index: 1;
    transition: all 3s cubic-bezier(0.32, 0.63, 0, 0.63);
    transition-delay: 0.2s;
}
    &__text {
        width: 42%;
        margin-left: 8%;
    }
    &__paragraph {
        font-size: 14px;
        width: 490px;
        line-height: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    &__img {
        background-image: url(../../res/img/soliders_final.png);
        width: 50%;
        height: calc(100vh - 140px);
        background-position: -139px 0px;
        background-repeat: no-repeat;
        position: relative;
        transition: all 3s cubic-bezier(0.32, 0.63, 0, 0.63);
        transition-delay: 0.2s;
    }
    &__soldier {
        
       
            background-image: url(../../res/img/01_Powstanie_śląskie_INTRO.png);
            background-size: contain;
            width: 320px;
            height: 750px;
            top: 102px;
            left: -130px;
            position: absolute;
            background-repeat: no-repeat;
            z-index: 2;
            transition: all 3s cubic-bezier(0.32, 0.63, 0, 0.63);
            transition-delay: 0.2s;

        }
        
}